@{
  Layout = "_Layout";
}
@using HairSalon.Models;

<h1>Client Details:</h1>
<li><strong>@Model["client"].GetFirstName() @Model["client"].GetLastName()</a></strong></li>
<ul>
  <li>Phone Number: @Model["client"].GetPhoneNumber()</li>
  <li>Email: @Model["client"].GetEmail()</li>
  <li>Stylist: @Model["stylist"].GetFirstName() @Model["stylist"].GetLastName()</li>
</ul>

<p><a href='/stylists/@Model["stylist"].GetID()/clients/@Model["client"].GetID()/edit'>Edit this Client</a></p>
<p><a href='/stylists/@Model["stylist"].GetID()/clients/new'>Add a new client to this stylist</a></p>
<p><a href='/stylists'>View all stylists</a></p>
